.footer {
  width: 100%;
  /* background: linear-gradient( to bottom, rgb(0 62 116) 0, rgb(0 118 160) 100% ) !important; */
  padding: 0.7rem;
  text-align: center;
  color: #808080b5;
}

.caruselItemContainer {
  position: relative;
}

.caruselItemLegend {
  position: absolute;
  top: 122px;
  left: 74px;
  font-weight: 800;
  color: #afc5dd;
  letter-spacing: 3px;
}

.carouselLegendContent {
  position: absolute;
  text-align: start;
  padding: 1rem;
  /* color: #1ea598; */
  color: whitesmoke;
  max-width: 26rem;
}

.carouselLegendContent > h1 {
  font-size: 50px;
  font-weight: 800;
}

.carouselLegendContent a {
  color: white;
  text-decoration: none;
}

.carousel.carousel-slider .control-arrow {
  border-radius: 10px;
}

.specialistsCardsRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.navbar-transparent {
  z-index: 99999;
  background: #eeeded !important;
  background: linear-gradient(270deg, #9e9d9d 10%, rgb(7 15 2) 100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.header-custom-link {
  color: #778187;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 12px !important;
}

.header-custom-link:hover {
  color: #004a02;
}

.custom-icon-contact {
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.custom-icon-contact :first-child {
  margin: 0px auto;
  border-radius: 5px;
  height: 100px;
  width: 3rem;
  display: block;
  /* background: #3a539b; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-icon-contact svg {
  fill: whitesmoke;
}

.imageComparatoContainer {
  position: relative;
}

.imageComparatoContainer > img {
  position: absolute;
  top: 0;
}

.imageComparatoImageDevider {
  position: absolute;
  left: 30%;
  z-index: 99999 !important;
  background-color: white;
  display: block;
}

.imageComparatorGrabArea {
  width: 50px;
  height: 50px;
  z-index: 20;
  border: 2px solid #eeeded;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageComparatorGrabArea > div {
  /* width: 300%; */
  transform: rotate(90deg);
  color: white;
  font-size: 24px;
  z-index: 10;
  outline: transparent;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.spinnerGlobalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.769);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999!important;
}

.listNavCarouselWrapper {
  position: relative;
  box-shadow: 1px 1px 3px 0px #00000047;
  border-radius: 5px;
  padding: 0.5rem;
}

.listNavCarouselControlsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8080804d;
  padding: 0.5rem;
}

.listNavCarouselControlsContainer > button {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #6cab44;
  color: #eeeded;
  width: 3rem;
}

.imageComparatorContainerPreview {
  border-bottom: 1px solid #8080804d;
  margin: 0 0.5rem;
  padding: 1rem;
  background-color: #80808036;
  border-radius: 5px 0 0 5px;
}

.imageComparatorContainerPreview > div > img{
  width: 60px;
  height: auto;
  margin: 0.2rem;
}

.proceduresPreviewImagesContainer {
  display: flex;
  overflow: auto;
  gap: 0.5rem;
}

.proceduresPreviewImages {
  display: flex;
  gap: 0.2rem;
  border: 1px solid #6cab44;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.proceduresPreviewImages > img {
  width: 80px;
  object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .custom-icon-contact-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
  }

  .custom-icon-contact {
    flex-direction: row;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
  }

  .custom-icon-contact :first-child {
    height: 1.5rem;
    width: 1.5rem !important;
    margin: 0;
    border-radius: 0;
    display: block;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-icon-contact svg {
    fill: #3a539b;
  }
}
