@import './medical-guide.css';
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  background-color: #eeeded!important;
  font-family: 'Exo 2', sans-serif!important;
  color: #444444!important;
  min-height: 100vh!important;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#contact {
  background-color: #e5e2e2;
}
main {
  flex: auto;
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.read-more-button {
  padding: 0.5rem;
  border-radius: 5px;
  border-color: #6ba743;
  color: #444444;
  font-weight: 700;
  font-size: 18px;
  /*font-family: 'Raleway', sans-serif;*/
}

.read-more-button.transparent {
  background-color: rgba(0, 0, 0, 0.427);
  color: #6ba743;
}

.read-more-button.read-more-button-fixed {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.services-container {
  /* background-color: #778187; */
  /* color: #eeeded; */
}

.services-container-description {
  font-weight: 500;
  color: black;
  text-align: start;
}

.services-container-description p {
  font-weight: 500;
  font-size: 18px;
}

.services-container-description li {
  list-style: initial;
}

.services-container h3,
h4 {
  font-weight: 600;
  margin: 1rem 0;
}

.service-procedure-item {
  width: 20rem;
  text-align: center;
  border-radius: 10px;
  background-color: #778187;
  min-height: 7rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 2rem;
}

.service-procedure-item img {
  width: 60px;
  /* float: left;
  margin-right: 1rem;
  margin-bottom: 1rem; */
}

.service-procedure-item > p {
  text-align: center;
  color: #eeeded;
  font-weight: 400;
  max-height: 10rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-procedure-item > h4 {
  color: #eeeded;
}

.team-member-container {
  /*background-color: #778187;*/
  background-color: #778187;
  padding: 1rem;
  border-radius: 10px;
  color: #eeeded;
}

.team-member-container p {
  font-weight: 400;
}

.team-member-container img {
  border-radius: 10px;
}

.custom-gray-row {
  min-height: 300px;
  background-color: #778187;
  border-radius: 10px;
  padding: 1rem;
  color: white;
}

.level-gradient-bar {
  min-height: 2rem;
  border: 1px solid #eeeded;
  border-radius: 5px;
}

.bg-gray {
  background-color: #d4d4d4 !important;
}

.carousel-wrapper {
  padding: 1.2rem;
}

.custom-card-container {
  min-width: 20rem;
  max-width: 25rem!important;
  box-shadow: 2px 4px 7px 3px #dedede;
  padding-bottom: 1rem;
  border-radius: 10px;
  transition: all ease-out 0.5s;
  background-color: #778187;
  color: white;
}

.custom-card-container:hover {
  box-shadow: 2px 4px 7px 3px #717b81de;
  background-color: #717b81de;
  transform: scale(1.05);
}

.green-bg {
  background-color: #6cab44 !important;
}

.dark-gray-bg {
  background-color: #778187 !important;
}

.carousel .slider-wrapper.axis-horizontal .slider li {
  z-index: 10!important;
}

.carousel-custom-root {
  width: 240px;
}


  /* width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #d4d4d4;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #4e5e65;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #538535;
}

.unselectable {
  user-select: none; 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.procedure-cazuri-img {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  object-fit: cover;
  margin: 0!important;
}

.custom-link-services{
  font-weight: 800;
  color: #6cab44 !important;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  padding-top: 10px;
}

/*.carousel.carousel-slider .control-arrow {*/
/*  background-color: black!important;*/
/*}*/

.responsive-direction {
  flex-direction: row;
}

.outline-text {
  /*font-family: 'Caveat Brush', cursive;*/
  opacity: 0.8;
}

.visible-400 {
  display: none;
}

.children-no-border > div {
  border: none!important;
}

.page-item>.page-link {
  color: #6cab44 !important;
}

.band-with-label {
  min-height: 5rem;
  background-color: #6cab44c7;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 5px;
}

.band-with-label>a {
  color: white;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1024px){
  .carousel-wrapper {
    padding: 0;
  }
}

@media only screen and (max-width: 800px){
  .responsive-direction {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px){
  .visible-400 {
    display: block;
  }
}