.dropDownLabel {
    margin: 0;
    width: 7rem;
    overflow-x: clip;
    text-overflow: ellipsis;
}

.rezultateCategorie {
    font-size: 16px;
    font-weight: 600;
    background-color: #414040;
    border-radius: 5px;
    padding-left: 0.5rem;
    color: #6cab44;
}

.descriptionColumnRezultateCard {
    border: 1px solid #9f9a9a;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #b6dfa8;
}

.descriptionColumnRezultateCard p {
    font-size: 16px;
    line-height: 24px;
}

.resultsNavigationHeader {
    padding: 1rem 0;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #6cab44b5;
    display: flex;
    justify-content: center;
}

.dropdownResponsive>button{
    width: 70vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdownResponsive>div{
    width: 100%;
}

.dropdownResponsive>div a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}