.dropDownLabel {
    margin: 0;
    width: 7rem;
    overflow-x: clip;
    text-overflow: ellipsis;
}

.rezultateCategorie {
    font-size: 16px;
    font-weight: 600;
    background-color: #414040;
    border-radius: 5px;
    padding-left: 0.5rem;
    color: #6cab44;
}

.descriptionColumnRezultateCard {
    background-color: #ffffff;
    border: 1px solid #e2ded9;
    border-radius: 12px;
    box-shadow: 0px 2px 10px 0px rgba(108, 171, 68, 0.18);
    padding: 1.75rem;
    margin: 2rem 0;
}

.descriptionColumnRezultateCard p {
    font-size: 16px;
    line-height: 24px;
}

.resultsNavigationHeader {
    padding: 1rem 0;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #6cab44b5;
    display: flex;
    justify-content: center;
}

.resultsNavigationButton {
    min-width: 2rem;
    border: none;
    border-radius: 5px;
    color: #ebebeb;
    background-color: darkgreen;
}